.Details {
  .details-container {
    background: url('../assets/details.jpg') center center / cover no-repeat;

    .details {
      color: #cccccc;
    }
  }

  .person_name {
    font-size: 12px;
    padding-top: 5px;
  }
}
